body {
    font-family: Arial, sans-serif;
    background-color: #ffe6e6; /* Soft pink background */
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
}

.message {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

.mey {
    width: 300px; /* Reduced image size */
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px auto;
    border: 5px solid #ffc5c5; /* Pink border */
}